@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Karla|Sacramento');
* { margin:0; padding:0; box-sizing:border-box; }

header{
	align-content:center;
}

nav a {
	display; block;
	float: left;
	padding: 20px;
	margin: 48px;
	font-family: 'Amatic SC', sans-serif;
	font-size: 24px;
	color: white;
	background:rgba(0,153,153,0.5);
	text-align: center;
	text-decoration: none;
}

#intro h1{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
	border-bottom: 2px solid black;
	display:inline-block;
}

#intro {
	font-family: 'Karla', sans-serif;
	padding: 8em 0;
	margin: 36px;
}

p {
	font-family:'Karla', sans-serif;
	font-size:14px;
}

h2{
	font-family: 'Amatic SC', cursive;
	font-size: 36px;
	padding:.5em;
}

h3{
	font-size:16px;
	font-style:italic;
	padding-bottom:.5em;
}

a{
	text-align:center;
	font-family:'Karla', sans-serif;
}

.column{
	float:left;
	width:300px;
	padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer{
	text-align:center;
	font-family:'Karla', sans-serif;
}
