body {
	text-align: center;
	background-image: url("https://i.imgur.com/lEC1gBQ.jpg");
	background-size: cover;
	font-family: Gotham, san-serif;
}
h1 {
	background-color: #000;
	color: #fff;
	font-size: 48px;
}
h3 {
	font-size: 24px;
	color: white;
}
p {
	color: white;
}