@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Karla');
* { margin:0; padding:0; box-sizing:border-box; }
@font-face {
font-family: Shorthalt;
src: url(fonts/Shorthalt);
}

header {
	font-family: Shorthalt, cursive, sans-serif;
	color: black;
	text-align: center;
	font-size: 96px;
}

nav {
	background:rgba(0,0,0,0.5);
}

nav a {
	display:inline-block;
	padding:1em;
	font-family: 'Amatic SC', cursive;
}

article{
	font-family:'Karla', sans-serif;
}

footer{
	text-align:center;
}