@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Karla');
* { margin:0; padding:0; box-sizing:border-box; }
@font-face {
font-family: Shorthalt;
src: url(fonts/Shorthalt);
}

header {
	font-family: Shorthalt, cursive, sans-serif;
	color: black;
	text-align: center;
	font-size: 96px;
}
nav {
	background:rgba(0,0,0,0.5);
}
nav a {
	display:inline-block;
	padding:2em;
	font-family: 'Amatic SC', cursive;
}
h1 {
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 48px;
}
p {
	font-family: 'Karla', sans-serif;
}
h3 {
	font-size: 24px;
}
#intro {
	text-align: center;
	font-family: Gotham, sans-serif;
	color: white;
	padding: 8em 0;
}