@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Karla');
* { margin:0; padding:0; box-sizing:border-box; }
@font-face {
font-family: Shorthalt Thin;
src: url(fonts/Shorthalt_thin);
}

header{
	text-align:center;
}

header h1{
	font-family: Shorthalt Thin, cursive, sans-serif;
	color: black;
	text-align: center;
	font-size: 48px;
}

nav {
	background:rgba(0,0,0,0.5);
}

nav a {
	display:inline-block;
	padding:1em;
	font-family: 'Amatic SC', cursive;
	font-size: 24px;
}

#intro h1{
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
}

#intro {
	text-align: center;
	font-family: 'Karla', sans-serif;
	padding: 8em 0;
}

#featured {
	font-family:'Karla', sans-serif;
	font-size:14px;
}

#featured h2{
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
}

#featured h3{
	font-size:16px;
	font-style:italic;
}

footer{
	text-align:center;
	font-family:'Karla', sans-serif;
}
