* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family:Gotham, sans-serif;
}
nav {
	background:rgba(0,0,0,0.5);
}
nav a {
	display:inline-block;
	padding:1em;
}
h1 {
	background-color: black;
	font-size: 48px;
}
h3 {
	font-size: 24px;
}
#intro {
	text-align: center;
	background-image: url("https://i.imgur.com/lEC1gBQ.jpg");
	background-size: cover;
	font-family: Gotham, sans-serif;
	color: white;
	padding: 8em 0;
}
